doctype html

html
	head
		script(src='/javascripts/bootstrap.min.js')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	body

		h1.text-center "Wassup!"
		.container

			#left-content.col-sm-4.selection Hi

			#middle-content.col-sm-4.selection Hello

			#right-content.col-sm-4.selection Goodbye

