doctype html

html
	head
		script(src='/javascripts/bootstrap.min.js')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	body

		h1 "Main Content Page"
		.container

			#left-content.col-md-4 Hi

			#middle-content.col-md-4 Hello

			#right-content.col-md-4 Goodbye

